doctype html
html(lang='en', ng-app='bank-account')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Bank Account
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/superhero/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body(ng-controller='master')
    .container-fluid
      .row
        .col-xs-12
          h1 Bank Account
      .row
        .col-xs-6
          h3 User : {{name}}
          h3 Balance : {{balance | currency}}
      .row
        .col-xs-2
          form(name='transactions', novalidate)
            .form-group
              label(for='amount') Amount
              input#amount.form-control(name='amount', type='number', ng-model='amount')
            .form-group
              button.btn.btn-success(ng-click='deposit()') Deposit
              button.btn.btn-primary(ng-click='withdraw()') Withdraw
      .row
        .col-xs-2 Deposits
          table.table.table-striped
            thead
              tr
                th amount
                th time
            tbody
              tr(ng-repeat='deposit in deposits track by $index', ng-click='removeVal($index)') 
                td {{deposit.amount | currency}} 
                td {{deposit.date | date : 'M/d/yy h:mm a'}}
                
        .col-xs-2 Withdraws
          table.table.table-striped
            thead
              tr
                th amount
                th time
            tbody
              tr(ng-repeat='withdraw in withdraws track by $index', ng-click='removeVal($index)') 
                td {{withdraw.amount | currency}} 
                td {{withdraw.date | date : 'M/d/yy h:mm a'}}
        .col-xs-2 Fees
          table.table.table-striped
            thead
              tr
                th amount
                th time
            tbody
              tr(ng-repeat='fee in fees track by $index', ng-click='removeVal($index)')
                td {{fee.amount | currency}} 
                td {{fee.date | date : 'M/d/yy h:mm a'}}      
                
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(src='/vendor/firebase/firebase.js')
    script(src='/vendor/angular/angular.min.js')
    script(src='/vendor/angularfire/dist/angularfire.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
